.banners img {
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
}

.swipes {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%; 
    z-index: 1;
}


.swipes button { 
    background: none; 
    padding: 50px 10px; 
    font-size: 50px; 
    cursor: pointer; 
    transition: border 0.3s ease, transform 0.3s ease; 
}

.swipes button:hover {
    border: 2px solid #fff; 
    transform: scale(1.1); 
}

