.container {
    min-width: 100vw;
    min-height: 100vh;
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.container > div:first-child {
    font-weight: 600;
    font-size: xx-large;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: start; 
    width: fit-content;
}

.addressContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    justify-content: center;
    align-content: start;
    width: 100%;
}


.addressContainer>:first-child:hover{
    cursor: pointer;
    transform: translateY(-5px); 
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}


.addNewAddress {
    height: 300px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed  gray;
    background-color: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


/* Existing Address  */

.addressBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    border: 1px solid gray;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.defaultAddress{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding: 2% 7%;
    border-bottom: 1px solid gray;

}
.defaultAddress>div{
    font-weight: normal;
    font-size: large;
}

.defaultAddress>img{
    max-width: 15%;
}






.existingAddress{
    font-size: medium;
    display: flex;
    margin: 1% 7%;
    flex-direction: column;
    justify-content: center;

}

.existingAddress>div:first-child{
    font-weight: bold;
}



.options{
    margin-top: auto;
    display: flex;
    width: 100%;
    padding: 5% 7%;
    color: #2162a1;
    font-size: medium;
    align-items: flex-end;
}

.option:hover{
    cursor: pointer;
    color: rgb(3, 3, 72);
}

.dash{
    margin: 0px 20px;
    color: black;
}
